
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
 
}

header{
    background-color: rgb(211, 211, 211);
    text-align: center;
}

ul{
    padding-left: 30px;
    font-size: medium;

    
    
}
li{
    text-decoration: none;
}
  .header-img{
    border-radius: 50%;
    width: 200px;
   
}
p{
    font-size: x-large;
    font-weight: bold;
}

.main{
    margin-top: 2%;
   margin: 2%;
   
}
footer{
    margin-top: 15%;
    margin-left: 85%;
}