/* initial setup css for page layout************************************************** */
body{
    margin: 0; padding: 0; font-size: 16px;
    font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif; line-height: 26px;
}
    .header{
        background-repeat: no-repeat; background-size: cover;
        background-image: url('AboutMeImages/backgroundImage.jpg');
        padding: 2%; width: 96%;
        font-size: 27px; color: wheat; font-weight: bold; text-align: center;
    }

    .header p{
        font-size: 20px; color: wheat;
    }
   
    .course-list{
        display: block; width: 96%; background-color: white; padding: 1%; margin: 1%;
        justify-content:space-between
    }
    .h2-title{
         padding: 1% 2%;
    }
    abbr{
        text-decoration: none;
    }
    .course-list ul li{
        list-style: none; margin: 0.5%; box-shadow: 5px 5px 17px grey;
    }
    .course-list ul li a{
        text-decoration: none; display: block; width: 98%; padding: 1%; background-color: lightblue;
        color: black;
    }
    .course-list ul li a:hover{
        background-color: lightyellow;
    }
    .fav-movies{
        width: 96%; background-color: white; padding: 1%; margin: 1%;
    }
    .fav-movies ol{
        margin-left: 2%; display: flex; flex-direction: column-reverse;
    }
    .fav-movies ol li{
        padding: 1%; background: #f2b1b1; margin: 0.3% 0;
    }
    .fav-movies ol li a{
        text-decoration: none;
    }
    .fav-movies ol li a{
        float: right; color: white;
    }
    .fav-movies ol li a:hover{
        float: right; color: darkred;
    }
    .fav-movies ol li:hover{
        box-shadow: 5px 5px 50px grey;
    }
   
    .mymood{
        display: flex; justify-content: space-between;
        width: 100%; padding: 1%; box-shadow: 10px 10px 20px grey;
    }
    
    .mymood img{
         transition: transform 1s;
    }
    .mymood img:hover{
        transform: rotate(2deg);
    }
    .my-neighbor div{
        display: flex; justify-content: space-between;
    }
    .my-neighbor div div{
        width: 46%; padding: 1%; margin: 1%; background-color: #d2f6f6; color: green; font-weight: bold;
        font-size: 22px; font-family: cursive; box-shadow: 2px 7px 30px black;
    }

    footer{
        background-color: rgb(167, 160, 160);
          padding: 2%; width: 100%; color:  white;
      }
      
      footer .copyright-block{
          width: 50%; text-align: right;
      }
  